/* global-styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
h1, h2, h3,h4, h5, h6, p {
    margin: 0;
}
input {
    font-family: inherit;
}
/* header */
/* header-logo */
.logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo {
    margin-right: 76px;
    padding: 24px 0;
    
}
.header-logo .logo-part {
  color: #2e2f42; 
  }
  .container {  
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}

  /* header-navigation */
  .nav-link {
display: block;
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42; 
}
.nav-link-studio {
display: block;
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42; 
position: relative;
color: #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-studio::after {
    content: '';
     width: 100%;
     position: absolute;
     left: 0;
     bottom: -1px;
      height: 4px;
       background-color: #404bbf;
       border-radius: 2px;
       }
.nav-link:hover,
.nav-link:focus{
   color: #404bbf; 
}
.header-nav {
    display: flex;
    align-items: center; 
}
.nav-list {
    display: flex;
    align-items: center; 
    gap: 40px;
}
/* contacts */
.contacts{
    font-style: normal;
    margin-left: auto;
}
.contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.contacts-list {
   display: flex;
    align-items: center; 
    gap: 40px;
}
.contacts-link {
display: block;
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* section-hero */
.section-hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
   background-image: linear-gradient(
        rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)
    ),
    url(../images/img-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.title-hero {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
max-width: 496px;
margin: 0 auto;
}
.form-button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
background: #4d5ae5;
margin: 0 auto;
cursor: pointer;
margin-top: 48px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
background-color: #404BBF;
}
.form-button:hover {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: 404BBF;
}
/* section-advantages */
.section-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}
.title-advantages {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.description-advantages {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.advantages-list {
    display: flex; 
    gap: 24px;
}
.advantages-item {
    width: calc((100% - 72px) / 4);
}
.advantages-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
margin-bottom: 8px;
background: #f4f4fd;
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
}
.title-advantages {
    margin-bottom: 8px;
}
/* section-our team */
.our-team {
   background-color: #f4f4fd;
   padding: 120px 0;
}
.title-our-team {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize; 
margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    max-width: 1128px;
    margin: 0 auto;
   
}
.personal-information {
 background-color: #FFFFFF;
 box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
width: calc((100% - 72px) / 4);
     border-radius: 0 0 4px 4px;
}
.personal-information-container {
    padding: 32px 0;
}
.personal-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.description-proffesion {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;
}
.icon-social-networks {
    width: 40px;
    height: 40px; 
}
.social-networks {
  display: flex;
    justify-content: center;
    align-items: center;
   gap: 24px;   
}
.social-networks-link {
    width: 100%;
    height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks-link:hover,
.social-networks-link:focus {
    background-color: #404bbf;
}
.social-networks-icon {
    fill: #f4f4fd;
}

/* section-portfolio */
.section-our-portfolio {
    padding: 120px 0;
}
.title-portfolio {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize; 
margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    max-width: 1128px;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-items {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-items:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
.image-portfolio {
    position: relative;
    overflow: hidden;
}
.description-portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.description-portfolio {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.name-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.text-first-portfolio {
 position: absolute;
 top: 0;
  font-size: 16px;
   line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd; 
    padding: 40px 32px;
    background-color: #4d5ae5; 
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-items:hover p {
  transform: translateY(0%);  
}
/* footer */
/* footer-logo */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
} 
.footer-logo {
margin-bottom: 16px;
display: inline-block;
  }
.footer-logo .logo-part {
color: #f4f4fd;
}
.footer-logo-description {
    margin-right: 120px;
}
 .logo footer-logo {
    margin-bottom: 16px;
 }
.description-footer {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
 max-width: 264px;
}
/* footer social-media */
.title-social-media {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}
.footer-social-networks {
    display: flex;
    gap: 16px;
}
.footer-social-networks-link {
     width: 100%;
    height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-networks-link:hover,
.footer-social-networks-link:focus {
    background-color: #31d0aa;
}
.footer-email {
    margin-left: auto;
}
.footer-label {
 font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #ffffff;
margin-bottom: 16px;
}
.footer-form {
    display: flex;
    gap: 24px;
}
.input-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
color: #ffffff;
}
.input-email::placeholder {
    color: #ffffff;
}
.footer-button {
    display: flex;
    align-items: center;
justify-content: center;
padding-block: 8px;
padding-inline: 24px;
min-width: 165px;
height: 40px;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
border-radius: 4px;
}
.footer-button-icon {
    margin-left: 16px;
}
.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
        position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 408px;
min-height: 584px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-top: 72px;
padding-bottom: 24px;
padding-left: 24px;
padding-right: 24px;
}
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-overlay:not(.is-open).modal {
translate: translate(-50%, -50%) scale(1.5);
}
.starter-button {
 position: absolute;
 top: 24px;   
 right: 24px;
 border-radius: 50%;
 width: 24px;
 height: 24px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color:  #e7e9fc;
 border: 1px solid rgba(0, 0, 0, 0.1); 
 padding: 0;
 cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.starter-button:hover,
.starter-button:focus {
    background-color: #404bbf;
    border: none;
}
.starter-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.starter-button:hover,
.starter-button:focus > .starter-button-icon {
    fill: #ffffff;
}
.modal-description {
   font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color:  #2E2F42; 
margin-bottom: 16px;
}
.form-field {
    margin-bottom: 8px;
}
.form-label {
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}
.input-wrapper {
    position: relative;
}
.form-input {
    width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
 padding-left: 38px;
 outline: transparent; 
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border-color: #4D5AE5;
}
.form-input:focus + .input-icon {
   fill: #4D5AE5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
    margin-bottom: 16px;
}
.textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent;
 padding: 8px 16px;
 outline: transparent; 
 resize: none;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
    border-color: #4D5AE5;
}
.privacy {
    margin-bottom: 24px;
}
.privacy-label {
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.form-privacy:checked + .privacy-label > .privacy-span {
background-color: #404bbf;
border: none;
fill: #f4f4fd;
}
.privacy-link {
    color: #4d5ae5;;
}

.modal-button {
    display: block;
          border-radius: 4px;
min-width: 169px;
height: 56px;
font-family: "Roboto", sans-serif; 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


